@model Blogs.WebUI.Models.CreatePostModel
@{
    ViewBag.Title = "AddPost";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="centerText">
    <h3><b>New post</b>
    </h3>
</div>
<center>
    @{Html.EnableClientValidation();}
    @{Html.EnableUnobtrusiveJavaScript();}

    @using (Html.BeginForm("CreatePost", "ChangePost", new { ViewBag.ReturnUrl },
        FormMethod.Post))
    {
        <div class="createPost">
            <div class="text-error">
                <b> @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")</b>
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.Title, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(m => m.Title, new { @class = "input-large" })
                    <div class="text-error">
                        @Html.ValidationMessageFor(m => m.Title)
                    </div>
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(m => m.Preview, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextAreaFor(m => m.Preview, new { @class = "input-large" })
                    <div class="text-error">
                        @Html.ValidationMessageFor(m => m.Preview)
                    </div>
                </div>
            </div>


            <div class="control-group">
                @Html.LabelFor(m => m.Content, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextAreaFor(m => m.Content, new { @class = "input-large" })
                    <div class="text-error">
                        @Html.ValidationMessageFor(m => m.Content)
                    </div>
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(m => m.Tags, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(m => m.Tags, new { @class = "input-large" })
                    <div class="text-error">
                        @Html.ValidationMessageFor(m => m.Tags)
                    </div>
                </div>
            </div>
        </div>
        <p>
            <input type="submit" class="btn btn-primary" value="Create" />
        </p>
    }

</center>