<hr>
<div class="span4">
    @foreach (var comment in Model.comments)
    {

        <p class="com"> Сomment by <a href="@Url.Action("GetAllPostByUser", "Post", new { idUser = comment.IdUsers})"> @Html.Action("GetUserNameById", "Users", new { idUser = comment.IdUsers }) </a>@comment.create_time  </p>
        <p class="content">@comment.Content</p>
        <div>
            @Html.ActionLink("Edit", "sdfsd", "Users")

            @Html.ActionLink("Delete", "sdfsd", "Users")
        </div>
        <hr>

    }

</div>