@model Blogs.WebUI.Models.ChangePasswordModel

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/_Layout.cshtml";
    
}

<center>

    <h2>Change password</h2>

    @{Html.EnableClientValidation();}
    @{Html.EnableUnobtrusiveJavaScript();}



    @using (Html.BeginForm())
    {
        <div class="text-error">
            <b>@Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")</b>
            </div>
        <div class="control-group">
            @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
            <div class="controls">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "control-label", @placeholder = "Old Password" })
                <div class="text-error">
                    <b>@Html.ValidationMessageFor(m => m.OldPassword)</b>
                </div>
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
            <div class="controls">
                @Html.PasswordFor(m => m.Password, new { @class = "control-label", @placeholder = "Password" })
                <div class="text-error">
                    <b>@Html.ValidationMessageFor(m => m.Password)</b>
                </div>
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
            <div class="controls">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "control-label", @placeholder = "Confirm Password" })
                <div class="text-error">
                    <b> @Html.ValidationMessageFor(m => m.ConfirmPassword)</b>
                </div>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary">Change password</button>
            </div>
        </div>
    }
</center>