@model Blogs.Domain.Entities.Users

@{
    ViewBag.Title = "EditUser";
    Layout = "~/Views/_Layout.cshtml";
}

<center>
    <div class="editUser">
        @using (@Html.BeginForm())
        {
            <legend class="line">Users</legend>
            @Html.HiddenFor(model => model.Id)
            <div>
                <h5 class="textUser"><b>Name:  </b><b class="mytext">@Model.Login</b></h5> 
            </div>
            <h5 class="textUser"><b>Email:  </b><b class="mytext">@Model.Email</b></h5>
            <h5 class="textUser" ><b>Curent role:  </b><b class="mytext">@ViewBag.Role</b></h5> 
            <h5 class="text">Set role</h5>
            @Html.DropDownList("nameRole", (IEnumerable<SelectListItem>)ViewBag.Datas)
            <p>
                <center>
                    <input class="btn btn-primary" type="submit" value="Save" style="width: 100px;"/>
                </center>
            </p>
            <br/>
            <div class="editLink">@Html.ActionLink("Back to List", "AllUsersShow")</div>

        }
    </div>
</center>
<div>
    
</div>
