@model Blogs.WebUI.Models.CommentCreateViewModel

@{
    Layout = null;
}
<script src="@Url.Content("~/Scripts/jquery-1.11.1.min.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"
        type="text/javascript"></script>

@using (Html.BeginForm("CreateComment", "Comments", new { idPost = ViewBag.ReturnUrl }, FormMethod.Post))
{
    <div class="control-group">
        <div class="controls">
            @Html.TextBoxFor(m => m.Content, new { @class = "input-large" })
            <div class="text-error">
                @Html.ValidationMessageFor(m => m.Content)
                </div>
            </div>
    </div>


    <p>
        <input type="submit" class="btn btn-primary"  value="Ок" />
    </p>
}

